.label {
    float: left;
    color: #8A9DA4;
}

input {
    clear: both;
    float: left;
    height: 36px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: gray;
}

.add {
    color: white;
    background-color: #8A9DA4;
    padding: 6px 6px 6px 6px;
    border-radius: 6px;
    margin-top: 22px;
    width: 70px;
    height: 24px;
    text-align: center;
    cursor: pointer;
}
