* {
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    // color: #8A9DA4;
   }
   
.grid-container-columns {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-column {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 4px;
    font-size: 30px;
    text-align: center;
}

.center-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
